.header {
  &__wrapper {
    width: 100%;
    height: 5rem;
    background: $header;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-size: 2rem;
    font-weight: 600;
    color: hotpink;
  }
}
